/* Dark Mode */ */
/* .dark-mode {
    background-color:rgb(144, 138, 138);
    color:rgb(175, 43, 43);
  }
  
  .dark-mode .bg-white {
    background-color:rgb(83, 79, 79);
  }
  
  .dark-mode .text-gray-700 {
    color:rgb(0, 107, 246);
  } */
  
  /* Add more dark mode styles as needed